a {
    outline: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#content {
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    box-shadow: 10px 10px 5px #888;
    border-radius: 14px;
    position: fixed;
    left: 40%;
    top: 40%;
    margin: -133px 0 0 -310px;
    min-height: 420px;
    width: 825px;
    behavior: url("pie/PIE.htc");
}

div#sidebar {
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    border-radius: 14px;
    box-shadow: 10px 10px 5px #888;
    width: 189px;
    min-height: 226px;
    position: absolute;
    left: 660px;
    padding: 20px;
    behavior: url("pie/PIE.htc");
}

div#my_photo {
    position: absolute;
    left: 20px;
    top: 116px;
}

div#my_photo a {
    position: absolute;
    top: 220px;
    left: 20px;
    color: #008cdc;
    text-decoration: none;
    font-size: 15px;
}

div#aboutme {
    position: absolute;
    width: 522px;
    left: 200px;
    top: 25px;
}

div#aboutme p {
    line-height: 20px;
    text-align: justify;
    font-size: 12px;
}
p strong {
    font-weight: bold;
}

div#aboutme h1 {
    color: #000000;
    font-size: 25px;
}

img.github {
    margin-top: 10px;
}

div#icons {
    position: absolute;
    left: 752px;
    top: 116px;
}

div#icons ul li {
    margin-bottom: 50px;
}